{{ define "body" }}
<section class="container">
  <h1>AsciiGo</h1>

  <pre class="header">
  ......................................................................................................................................................
  ......................................................................................................................................................
  ......................................................................................................................................................
  ...............................................................................,,,::;;;;:,,...........................................................
  ..........................................................................,:;ox#%%xoooooox%o;:,....................;;,,...............................
  .......................................................................,;x#%o;::::,,,,,,,,::;o%%;:.............,ox@@@@@x;,............................
  ...................................................................,;o%#o;::,::,:::;ooooo;::,,::;%@o.........,x%xo;::;;#@@o...........................
  ................................................................,o##%;::,::::::ox%@@@@@@@@#x;:,:,::ox;,.....o@o:,:::::::;x@%,.........................
  ..............................................................;%@x;::::::::::o#@@x;:,,,:;o%@@%;::::,:o@o,..;@:,:::::::::::;%@;........................
  ............................................................;@#;:::::::::::o#@@;...........,;%@#;::::,:x@oo%::::::::::::::::o@o.......................
  ..........................................................;@%;::::::::::::%@@o,...............,%@x:::::,;@@o,::::::,::::::::,;@x......................
  ........................................................,xx;::::::::::::;@@o,...................:@@;::::::x@o:::::;o;::::::::,;@:.....................
  ......................................................,ox:,::::::::::::;@x,.......................%@:::::::x@o::x@@o@#;::::::::#o.....................
  .....................................................ox;::::::::::::::;@o.........................,@%:::::::%@%#@%o:,@@:::::::,oo.....................
  ...................................................:#o:::::::::::::::o@x...........................,@o::::::;@@@@#:;x#@x:::::::;%.....................
  .................................................,o@;,::::::::::::::;@@,............................:@;::::::o@@@@#o@@@@::::::::@.....................
  ................................................:@x:::::::::::::::::%@;..............................#%:::::::o@@@@@@@@@;:::::::@,....................
  ...............................................o@;,::::::::::::::::o@%........................:xxo;,.o@;:::::::;@@#@@@@@;:::::::@,....................
  .............................................,@x:::::::::::::::::::%@,......................,%@@@@@@::@%:::::::::%@@@@@%:::::::;%.....................
  ............................................;%;:::::::::::::::::::;@;......................:@@#@@#@ox;x@;:::::::::o@@@#:::::::,o;.....................
  ..........................................,xo:::::::::::::::::::::o@......................,@@@@@@@#@@x;@o::::::::::;#@x::::::::%:.....................
  .........................................o#;,:::::::::::::::::::::%x......................:@#@@@@@@#@@:#x::::::::::::#@o:::::::@,.....................
  .......................................:@x::::::::::::::::::::::::@;......................o@#@@@@@;.;@,o#:::::::::::::#@o:::::o#......................
  .....................................:%@;,::::::::::::::::::::::::@:......................;@#@@@@@..:@.:@::::::::::::::%@o,:::%;......................
  ...................................,o@@;:::::::::::::::::::::::::;@,......................;@#@@@@@o;%@.,@:::::::::::::::x@o:::#,......................
  ..................................:@@x:::::::::::::::::::::::::::;@,......................,@#@@@@@@@@%.,@;:::::::::::::::;#;,;%.......................
  .................................o@@o::::::::::::::::::::::::::::o@,.......................o@##@@@##@:.,@;:::::::::::::::,;@o%;.......................
  ...............................,@@%;::::,::::::,:::::::::::::::::;@:........................o@@@@@@@:..,@;:::::::::::::::::;@@........................
  ..............................,@@o::::::;oxxxxo;::,:::::::::::::::@;.........................,;x%x;....:@:::::::::::::::::::o@:.......................
  .............................:@%;::::o@@@@@@@@@@@@o:::::::::::::::%x...................................;@::::::::::::::::::::o@,......................
  ............................o@o::::o@@x;,.....,,:;#@;:::::::::::::o@...................................o#:::::::::::::::::::::%@,.....................
  ...........................o@::::o@@;..............:@%::::::::::::;@:..................................@x::::::::::::::::::::::@x.....................
  ..........................x#::::x@x,.................;@x:::::::::::@o.................................:@:::::::::::::::::::::::;@;....................
  ........................,%%:::;#@;....................,%#::::::::::x@.................................x%::::::::::::::::::::::::x@,...................
  .......................,@x:::;@@:.......................o%:::::::::;@:...............................,@;:::::::::::::::::::::::::@x...................
  .......................%%::::#@;.........................xo,::::::::x%...............................x@::::::::::::::::::::::::::;@:..................
  ......................o#::::x@;..........................,@;:::::::::#o.............................:@;:::::::::::::::::::::::::::x%..................
  .....................;@::::o@;......................::,,..o@::::::::::@o...........................:@;::::::::::::::::::::::::::::;@:.................
  ....................,@;::::@o.....................:%@@@@o.,@x:::::::::;@;.........................:@o,:::::::::::::::::::::::::::::xx.................
  ....................@o,:::x%.....................o@@###@xx,o@;:::::::::;@:.......................:@x::::::::::::::::::::::::::::::::@,................
  ...................o%:::::@,....................x@#@@@@@x%o:@o::::::::::;@:.....................;@x::::::::::::::::::::::::::::::::,xo................
  ..................:@:::::o%....................,@#@@@@@@@@#,%#:::::::::::;@o,.................:#%;::::::::::::::::::::::::::::::::::;@:...............
  ..................@x:::::#o....................;@#@@@@@x;o@,;@;::::::::::::%@%;,,..........:o#%;:::::::::::::::::::::::::::::::::::::%#...............
  .................;@;:::::@o....................;@#@@@#@,.:@,,@o:::::::::::::;@@@@x;:,,,:;o#@#;:::::::::::::::::::::::::::::::::::::::;@:..............
  .................@%::::::@;....................;@#@@@@@:,x@,.#o:::::::::::::::ox#@@@@@@@@#xo:,::::::::::::::::::::::::::::::::::::::::%x..............
  ................:@o::::::@:....................:@#@@@@@@@@#..o%::::::::::::::::::;;;;;;:::::::::::::::::::::::::::::::::::::::::::::::x@,.............
  ................o@;:::::;@:.....................%@#@@@@@#@o..;@::::::::o%#@%;:::::::::::::::::::::::::::::::::::::::::::::::::::::::::;@o.............
  ................@%::::::;@:.....................,@@@###@@x...:@:::::;o#@@@%%@o:::::::::::::::::::::::::::::::::::::::::::::::::::::::::%@,............
  .............,;o@x::::::;@:......................,o#@@@@;....:@::::x@@@@@%o;@@;::::::::::::::::::::::::::::::::::::::::::::::::::::::::o@:............
  ...........:;%@@@o::::::;@;.........................,::,.....:@:,;#@@@@##o#@@@#%xoxxxo::::::::::::::::::::::::::::::::::::::::::::::::::@o............
  .........:#@o::o@;,::::::@;..................................o@:;@@@@@@xx@@@@@@@@##@@@#;::::::::::::::::::::::::::::::::::::::::::::::::x@............
  .......,o@o:,:::@o:::::::@o..................................%%:@@@@@@@@@@@@@@x:,,,:;%@@;:::::::::::::::::::::::::::::::::::::::::::::::;@,...........
  ......:@@;,:::::@o:::::::%o..................................#xo@@@@@@@@@@@#@o,,,,,,,,o@@::::::::::::::::::::::::::::::::::::::::::::::::@;...........
  .....:@%::::::::@o:::::::ox.................................,@ox@@@@@@@@@@#@o,,,,,,,,,,:@x:::::::::::::::::::::::::::::::::::::::::::::::%%...........
  ....,@%::::::::;@;::::::::@,................................o#:x@@@@@@@@@@@o,,,,,,,,,,,,o@:::::::::::::::::::::::::::::::::::::::::::::::;@,..........
  ...,@@;,:::::::;@;:::::::,xo...............................:@o,x@@@#@@@@@@;,,,,,,,,,,,,,;@;:::::::::::::::::::::::::::::::::::::::::::::::@o..........
  ...x@x:::::::::o@:::::::::;@,..............................@#:,;@@@@@@@@o,,,,,,,,,,,,,,,o@o:::::::::::::::::::::::::::::::::::::::::::::::o@,.........
  ..,@@o::::::::,o@::::::::::%x.............................;@;,:%@x;;;::,,,,,,,,,,,,,,,,,%@;::::::::::::::::::::::::::::::::::::::::::::::::@:.........
  ..;@@;::::::::;%@::::::::::;@;...........................:@;,:x@;,,,,,,,,,,,,,,,,,,,,,:o@x:::::::::::::::::::::::::::::::::::::::::::::::::%x.........
  ..o@%:::::::;%@@%:::::::::::o@:.........................;@o::x@o,,,,,,,,,,,,,,,,,,,,,:%@#::::::::::::::::::::::::::::::::::::::::::::::::::;@,........
  ..x@x::::::;@@#@x::::::::::::x@o.......................;@x:,;@x,,,,,,,,,,,,,,,,::;oxx@@x::::::::::::::::::::::::::::::::::::::::::::::::::::%o........
  ..#@o::::::#@@@@x:::::::::::::o@#,...................,o@%:::o@;,,,,,,,,,,,,::o#@@@@@@x;:::::::::::::::::::::::::::::::::::::::::::::::::::::;@,.......
  .,@#::::::;@#@@@x:::::::::::::::%@;.................;@@o::::o@:,,,,,,,,,,,o@@@%;:,,%@;,::::::::::::::::::::::::::::::::::::::::::::::::::::::x@.......
  ..%@:::::::#@@@@%::::::::::::::::;@#:............,;@@o::::::o@:,,,,,,,,,:#@xx@,....,@%:::::::::::::::::::::::::::::::::::::::::::::::::::::::;@o......
  ..x@;::::::;@@@@#::::::::::::::::::x@@o:,,:,,:;x##%o::::::::o@:,,,,,,,,:@#:..#;.....,@o:::::::::::::::::::::::::::::::::::::::::::::::::::::::o@,.....
  ..o@;:::::::o@@@#:::::::::::::::::::;x@@@@@@@#x;;::,::::::::o@o,,,,,,,:#x....:o......;@::::::::::::::::::::::::::::::::::::::::::::::::::::::::#@,....
  ..:@o::::::::;x@%::::::::::::::::::::::::;;;:::,:::::::::::::%@:,,,,,;@#......x.......%o:::::::::::::::::::::::::::::::::::::::::::::::::::::::o@x....
  ..,@%::::::::::%#::::::::::::::::::::::::::::::::::::::::::::;@#:,,:o@@x......;o......:@::::::::::::::::::::::::::::::::::::::::::::::::::::::::x@;...
  ...%@;:::::::::o@:::::::::::::::::::::::::::::::::::::::::::::;@@x%@@xo@,......#,......@o::::::::::::::::::::::::::::::::::::::::::::::::::::::::@@,..
  ...o@%:::::::::;@:::::::::::::::::::::::::::::::::::::::::::::::o%#o:::#:......:%......;#::::::::::::::::::::::::::::::::::::::::::::::::::::::::x@x..
  ....%@o:::::::::@::::::::::::::::::::::::::::::::::::::::::::::::::::::oo.......o,.....,@:::::::::::::::::::::::::::::::::::::::::::::::::::::::::#@;.
  ....:@@o::::::::x::::::::::::::::::::::::::::::::::::::::::::::::::::::;%........;......#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::o@@.
  .....x@@x;::::::xo,:::::::::::::::::::::::::::::::::::::::::::::::::::::@,......,@,....:@::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#@;
  ......;@@@#;::::%x::::::::::::::::::::::::::::::::::::::::::::::::::::::%o.......@%::;o%:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::x@#
  .......,,:x@@#o:#%::::::::::::::::::::::::::::::::::::::::::::::::::::::;@.......o@@@@o::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::;@@
  ............:o@#@%:::::::::::::::::::::::::::::::::::::::::::::::::::::::@;.....:@#;::,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::%@
  ..............,;#@:::::::::::::::::::::::::::::::::::::::::::::::::::::::o@:,.,;#x:,::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::;@
  ................,@::::::::::::::::::::::::::::::::::::::::::::::::::::::::o@@x%o:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#
  .................;o,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::o
  .................,x:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ..................%:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ..................o;::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ..................:x,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ..................,#::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  </pre>

  <form action="/convert" enctype="multipart/form-data" method="post" id="convert">
    <label for="file">Pick an image <input type="file" name="img" id="img" accept=".png,.jpg"></label>
    <button>Convert</button>
  </form>
</section>

  <pre id="output"></pre>

  <aside class="container">
  <h2>What is this?</h2>
  <p>Convert an image into ascii art. Basic version of asciipicture.com but with a Go backend.</p>
  </aside>

<script src="/static/main.js"></script>
{{end}}